---
import Layout from '~/layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { postRoute } from '~/routes';
import H1 from '~/components/H1.astro';
import List from '~/components/List.astro';
import { formatDateString } from '~/utils/formatters';
import { postIdToSlug, type Post } from '~/content/post.config';
import ListItem from '~/components/ListItem.astro';

const excludePostByPublishStatus: (post: Post['data']) => boolean =
  import.meta.env.MODE === 'development'
    ? () => false
    : (post) => {
        return !post.published;
      };

const allPosts = (
  await getCollection('posts', (entry) => {
    if (excludePostByPublishStatus(entry.data)) {
      return false;
    }
    return true;
  })
).sort((a, b) => {
  if (b.data.publishDate && a.data.publishDate) {
    return a.data.publishDate.valueOf() > b.data.publishDate.valueOf() ? -1 : 1;
  }
  return -1;
});

const allCategories = await getCollection('categories');
const categoriesMap = new Map(
  allCategories.map((category) => [category.id, category.data])
);
---

<Layout title="Blog" description={undefined}>
  <main class="container px-4 max-w-3xl mx-auto">
    <H1 class="px-2 mb-4">Blog</H1>

    <List>
      {
        allPosts.map((post) => {
          const category = categoriesMap.get(post.data.category.id);

          return (
            <ListItem
              href={postRoute(postIdToSlug(post.id))}
              eyebrow={category?.title}
              title={post.data.title}
              description={
                post.data.publishDate
                  ? formatDateString(post.data.publishDate)
                  : undefined
              }
            >
              {post.data.published === false && (
                <div class="text-xs text-red-700 dark:text-red-300">
                  Unpublished
                </div>
              )}
            </ListItem>
          );
        })
      }
    </List>
  </main>
</Layout>
