---
import Layout from '~/layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { postRoute } from '~/routes';
import H1 from '~/components/H1.astro';
import { formatDateString } from '~/utils/formatters';
import { postIdToSlug, type Post } from '~/content/post.config';

const excludePostByPublishStatus: (post: Post['data']) => boolean =
  import.meta.env.MODE === 'development'
    ? () => false
    : (post) => {
        return !post.published;
      };

const allPosts = (
  await getCollection('posts', (entry) => {
    if (excludePostByPublishStatus(entry.data)) {
      return false;
    }
    return true;
  })
).sort((a, b) => {
  if (b.data.publishDate && a.data.publishDate) {
    return a.data.publishDate.valueOf() > b.data.publishDate.valueOf() ? -1 : 1;
  }
  return -1;
});
---

<Layout title="Blog">
  <main class="container px-4 max-w-3xl mx-auto">
    <H1 class="px-2">Blog</H1>

    <ul class="space-y-4">
      {
        allPosts.map((post) => (
          <li>
            <a
              class="block hover:bg-accent-300 focus:bg-accent-300 dark:hover:bg-accent-950 dark:focus:bg-accent-950 p-2 rounded-md"
              href={postRoute(postIdToSlug(post.id))}
            >
              <div class="font-semibold text-lg">{post.data.title}</div>
              {post.data.publishDate && (
                <div class="text-sm text-secondary">
                  {formatDateString(post.data.publishDate)}
                </div>
              )}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
