---
import Layout from '~/layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { postRoute } from '~/routes';
import H1 from '~/components/H1.astro';
import { formatDateString } from '~/utils/formatters';
import { postIdToSlug, type Post } from '~/content/post.config';

const excludePostByPublishStatus: (post: Post['data']) => boolean =
  import.meta.env.MODE === 'development'
    ? () => false
    : (post) => {
        return !post.published;
      };

const allPosts = (
  await getCollection('posts', (entry) => {
    if (excludePostByPublishStatus(entry.data)) {
      return false;
    }
    return true;
  })
).sort((a, b) => {
  if (b.data.publishDate && a.data.publishDate) {
    return a.data.publishDate.valueOf() > b.data.publishDate.valueOf() ? -1 : 1;
  }
  return -1;
});

const allCategories = await getCollection('categories');
const categoriesMap = new Map(
  allCategories.map((category) => [category.id, category.data])
);
---

<Layout title="Blog">
  <main class="container px-4 max-w-3xl mx-auto">
    <H1 class="px-2">Blog</H1>

    <ul class="space-y-4">
      {
        allPosts.map((post) => {
          const category = categoriesMap.get(post.data.category.id);

          return (
            <li>
              <a
                class="block focus:bg-accent/10 hover:bg-accent/10 py-3 px-2 rounded-md space-y-[0.125rem]"
                href={postRoute(postIdToSlug(post.id))}
              >
                {category && (
                  <div>
                    <span class="text-xs uppercase tracking-wide text-accent">
                      {category.title}
                    </span>
                  </div>
                )}
                <div class="font-semibold text-lg">{post.data.title}</div>
                {post.data.publishDate && (
                  <div class="text-sm text-muted">
                    {formatDateString(post.data.publishDate)}
                  </div>
                )}
                {post.data.published === false && (
                  <div class="text-xs text-red-700 dark:text-red-300">
                    Unpublished
                  </div>
                )}
              </a>
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>
