$base-unit: 1rem; // 10px

// units

@mixin m-t($m-t) {
  margin-top: $m-t * $base-unit;
}

@mixin m-b($m-b) {
  margin-bottom: $m-b * $base-unit;
}

@mixin m-l($m-l) {
  margin-left: $m-l * $base-unit;
}

@mixin m-r($m-r) {
  margin-right: $m-r * $base-unit;
}

@mixin p-t($p-t) {
  padding-top: $p-t * $base-unit;
}

@mixin p-b($p-b) {
  padding-bottom: $p-b * $base-unit;
}

@mixin p-l($p-l) {
  padding-left: $p-l * $base-unit;
}

@mixin p-r($p-r) {
  padding-right: $p-r * $base-unit;
}

// combos

@mixin m-h($factor) {
  @include m-l($factor);
  @include m-r($factor);
}

@mixin m-v($factor) {
  @include m-t($factor);
  @include m-b($factor);
}

@mixin m-all($factor) {
  @include m-h($factor);
  @include m-v($factor);
}

@mixin p-h($factor) {
  @include p-l($factor);
  @include p-r($factor);
}

@mixin p-v($factor) {
  @include p-t($factor);
  @include p-b($factor);
}

@mixin p-all($factor) {
  @include p-h($factor);
  @include p-v($factor);
}
