$main: #1d2731;
$blue-lightest: #9fbae6;
$blue-light: #6f95d0;
$blue: #4b75b9;
$blue-dark: #2f5da6;
$blue-darkest: #16458f;
$yellow: #f0ce3b;
$off-white: #f8f8f8;
$off-white-hover: #f8f8f8aa;
$bxs: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$transparent: rgba(0, 0, 0, 0);
