@import 'variables';

body,
p,
ul,
ol,
li {
  color: #1d2731;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $main-alt;
}

a {
  color: $accent;
}

a:active {
  color: $accent-alt;
}

/* utility classes */

.hidden {
  display: none;
}

.font-small {
  font-size: 0.7rem;
}

.in-b {
  display: inline-block;
}

/*** CHANGE HIGHLIGHT COLOR ***/

::selection {
  background-color: $main;
  color: $off-white;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: $main;
  color: $off-white;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: $main;
  color: $off-white;
}
