---
import { blogRoute, homeRoute } from '~/routes';
import NavLink from './NavLink.astro';
import ThemeToggleButton from './ThemeToggleButton.astro';
---

<header class="py-6 border-t-4 border-accent">
  <div
    class="flex flex-col sm:flex-row items-baseline justify-between container mx-auto space-y-4 sm:space-y-0 space-x-0 sm:space-x-8 px-4"
  >
    <a
      href={homeRoute()}
      class="text-3xl font-semibold hover:text-accent focus:text-accent"
      >Rahul Rangnekar</a
    >

    <nav class="flex items-baseline gap-x-8">
      <NavLink href={blogRoute()} exact>Blog</NavLink>
      <ThemeToggleButton />
    </nav>
  </div>
</header>
