---
import { Sun, Moon } from '@lucide/astro';
---

<button
  id="theme-toggle"
  class="w-8 h-8 cursor-pointer hover:bg-accent/10 focus:bg-accent/10 p-2 rounded-md inline-flex items-center justify-center top-1.5 relative"
  aria-label="Toggle theme"
>
  <Sun class="hidden dark:block" />
  <Moon class="dark:hidden block" />
</button>

<script is:inline>
  const THEME_KEY = 'theme';
  const DARK = 'dark';
  const LIGHT = 'light';

  const theme = (() => {
    const localStorageTheme = localStorage?.getItem(THEME_KEY) ?? '';
    if ([DARK, LIGHT].includes(localStorageTheme)) {
      return localStorageTheme;
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return DARK;
    }
    return LIGHT;
  })();

  if (theme === LIGHT) {
    document.documentElement.classList.remove(DARK);
  } else {
    document.documentElement.classList.add(DARK);
  }

  window.localStorage.setItem(THEME_KEY, theme);

  const handleToggleClick = () => {
    const element = document.documentElement;
    element.classList.toggle(DARK);

    const isDark = element.classList.contains(DARK);
    localStorage.setItem(THEME_KEY, isDark ? DARK : LIGHT);
  };

  document
    .getElementById('theme-toggle')
    ?.addEventListener('click', handleToggleClick);
</script>
